* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

a:hover {
  color: #e5e7eb; 
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.header-container {
  border: 3px solid #34eb71;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 235px;
  margin-right: 235px;
  margin-top: 7px;
  margin-bottom: 70px;
}

.header {
  color: #f9faf8; 
  font-size: 24px;
  cursor: pointer;
}

.subheader-container {
  border: 2px solid #259fcf;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 100px;
}

.subheading-box {
  border: 2px solid pink;
  width: 410px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.subtext-color {
  color: #e5e7eb; 
}

.first-button{ 
  border-style: none;
}

.first-button,
.second-button {
  background-color: #3882f6;
  color: #ffffff; 
  padding: 5px 25px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.placeholder {
  border: 2px solid #ffffff; 
  width: 490px;
  background-color: #afb9bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-text-color {
  color: #ffffff; 
}

.large-container {
  border: 2px solid #ff0000;
  background-color: #1f2937; 
}

.main-container {
  border: 2px solid #00ff00;
  flex-grow: 1; 
  flex-shrink: 0;
  flex-basis: 0; 
}

.header-two {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.main-container .container {
  border: 2px solid #cf4125;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.box-one-container,
.box-two-container,
.box-three-container,
.box-four-container {
  flex-basis: 150px;
  text-align: center;
  color: #1f2937; 
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.small-box {
  border: 3px solid #3882f6;
  width: 113px; 
  height: 110px; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box-text-box {
  border: 2px solid #ffffff; 
  width: 130px;
}

.quote-container {
  border: 2px solid #cf7d25;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 75px 0px;
}

.quote-container p {
  width: 550px;
  font-size: 25px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.thor {
  width: 500px;
  text-align: right;
  font-weight: bold;
}

.call-to-action-container {
  border: 3px solid #41ad1a;
  display: flex;
  justify-content: center;
  margin: 55px 0px; 
}

.small-call-to-action-container {
  display: flex;
  gap: 100px;
  flex-basis: 700px;
  background-color: #3882f6; 
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 6px;
}

.call-to-action-color {
  color: #f9faf8;
  font-weight: 500; 
}

#sign-up-color {
  color: #e5e7eb;
  font-weight: normal;
  font-size: 12px;
}

.second-button {
  border: 1px solid #ffffff;
  margin-bottom: 10px;
}

.footer-container {
  border: 2px solid #0000ff;
  text-align: center; 
  background-color: #1f2937; 
  color: #e5e7eb;
  font-size: 13px;
  padding: 21px 0px; 
}
