* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

ul {
  list-style: none;
  border: 2px solid #344feb;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  border: 2px solid #eb34c3;
  color: #e5e7eb;
  font-size: 18px;
}

a:hover {
  color: #e5e7eb; 
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 4px solid #000000;  
}

.header-container {
  border: 3px solid #34eb71;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 235px;
  margin-right: 235px;
  margin-top: 7px;
  margin-bottom: 70px;
}

.header {
  color: #f9faf8; 
  font-size: 24px;
}

.header:hover {
  cursor: pointer;
}

.subheader-container {
  border: 2px solid #259fcf;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.subheading-box {
  border: 2px solid pink;
  width: 410px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.subtext-color {
  color: #e5e7eb; 
}

.first-button {
  background-color: #3882f6;
  color: #ffffff; 
  border-style: none;
  padding: 5px 25px;
  font-weight: 900;
  border-radius: 5px;
  margin-top: 10px;
}

.grey-box {
  width: 500px;
  height: 210;
}

.large-container {
  border: 2px solid #ff0000;
  background-color: #1f2937; 
}

.main-container {
  border: 2px solid #00ff00;
  flex-grow: 1; 
  flex-shrink: 0;
  flex-basis: 0; 
}

.header-two {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.main-container .container {
  border: 2px solid #cf4125;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.box-one-container,
.box-two-container,
.box-three-container,
.box-four-container {
  flex-basis: 150px;
  text-align: center;
  color: #1f2937; 
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.small-box {
  border: 3px solid #3882f6;
  width: 110px; 
  height: 110px; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  border: 2px solid #cf7d25;
}

.footer-container {
  border: 2px solid #0000ff;
  text-align: center; 
  background-color: #1f2937; 
  color: #e5e7eb;
  font-size: 15px;
  padding: 21px 0px; 
}

/* flex-basis: 200px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  max-width: 200px; */